<div class="row"id="containerJogo">
    @*<canvas id="canvas" width="450" height="450"></canvas>*@
    <div class="col-md-10"  id="containerTabuleiro">
        
    </div>
    <div class="col-md-2" id="score">
        <h3>
            Score:<label id="bestScore"></label>
        </h3>
        <h4>
            Score:<label id="scoreAtual"></label>
        </h4>
    </div>
</div>